body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#canvas{
    background-color: rgb(1, 65, 6);
    border: 10px solid yellow;
    cursor: crosshair;
    border-radius: 20px;
}
.toolbox{
    width:90%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: larger;
    font-family: sans-serif;
}
#clear{
    background-color: green;
    color: yellow;
    border: none;
    border-radius: 2px;
    width:100px;
    height:30px;
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
}
#clear:hover{
    background-color: yellow;
    color:green;
}